{{>header}}

       <section class="page-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">History Data</h3>
                            <p class="text-muted mb-0">You can check historical data for each currency.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="mt-5">
                            <img src="ic_currency_data_api@3x.svg" alt="">
                            <p></p>
                            <h3 class="h4 mb-2">Currency Data API</h3>
                            <p class="text-muted mb-0">Easily plug-in Currency Data into your existing software!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{{> footer}}