  <!-- BG
 <option value="AUD">Австралийски долар</option>
 <option value="BGN">Български лев</option>
 <option value="BRL">Бразилски реал</option>
 <option value="CAD">Канадски долар</option>
 <option value="CHF">Швейцарски франк</option>
 <option value="CNY">Китайски ренминби юан</option>
 <option value="CZK">Чешка крона</option>
 <option value="DKK">Датска крона</option>
 <option value="EUR">Евро</option>
 <option value="GBP">Британска лира</option>
 <option value="HKD">Хонконски долар</option>
 <option value="HRK">Харватска куна</option>
 <option value="HUF">Унгарски форинт</option>
 <option value="IDR">Индонезийска рупия</option>
 <option value="ILS">Израелски шекер</option>
 <option value="INR">Индиска рупия</option>
 <option value="ISK">Исланска крона</option>
 <option value="JPY">Японска йена</option>
<option value="KRW">Южнокорейски вон</option>
<option value="MXN">Мексиканско песо</option>
<option value="MYR">Малайзиски рингин</option>
<option value="NOK">Норвежка крона</option>
<option value="NZD">Новозеландски долар</option>
<option value="PHP">Филипинско песо</option>
<option value="PLN">Полска злота</option>
<option value="RON">Ромънска лея</option>
<option value="RUB">Руска рубла</option>
<option value="SEK">Шведска крона</option>
<option value="SGD">Сингапурски долар</option>
<option value="THB">Тайландски бат</option>
<option value="TRY">Турска лира</option>
<option value="USD">Щатски долар</option>
<option value="ZAR">Южноафрикански ранд</option>
-->

 <!--US-->
 <option value="AUD">Australian Dollar</option>
 <option value="BGN">Bulgarian Lev</option>
 <option value="BRL">Brazilian Real</option>
 <option value="CAD">Canadian Dollar</option>
 <option value="CHF">Swiss Franc</option>
 <option value="CNY">Chinese Yuan Renminbi</option>
 <option value="CZK">Czech Koruna</option>
 <option value="DKK">Danish Krone</option>
 <option value="EUR">Euro</option>
 <option value="GBP">British Pound</option>
 <option value="HKD">Hong Kong Dollar</option>
 <option value="HRK">Croatian Kuna</option>
 <option value="HUF">Hungarian Forints</option>
 <option value="IDR">Indonesian Rupiahs</option>
 <option value="ILS">Israeli New Shekels</option>
 <option value="INR">Indian Rupees</option>
 <option value="ISK">Icelandic Kronur</option>
 <option value="JPY">Japanese Yen</option>
<option value="KRW">South Korean Won</option>
<option value="MXN">Mexican Pesos</option>
<option value="MYR">Malaysian Ringgits</option>
<option value="NOK">Norwegian Kroner</option>
<option value="NZD">New Zealand Dollars</option>
<option value="PHP">Philippine Pesos</option>
<option value="PLN">Polish Zlotych</option>
<option value="RON">Romanian Lei</option>
<option value="RUB">Russian Rubles</option>
<option value="SEK">Swedish Kronor</option>
<option value="SGD">Singapore Dollars</option>
<option value="THB">Thai Baht</option>
<option value="TRY">Turkish Lire</option>
<option value="USD">US Dollars</option>
<option value="ZAR">South African Rand</option>