@model Currency_converter.Models.HomeViewModels

@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Converters" asp-action="Converters" method="post">
    <div class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Source of Free Currency Information</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p id="alert" class="text-white-75 font-weight-light mb-15"></p>
                    <!-- Notifications-->
                    @if (Model.Text != null)
                    {
                        <div id="resultBox" class="alert alert-danger" role="alert">
                            @Model.Text
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <p class="text-white-75 font-weight-light mb-0">Amount</p>
                            <input class="form-control is-invalid" id="inputAmount" name="inputAmount" placeholder="0-1000000">
                        </div>
                        <div class="col-sm-4">
                            <p class="text-white-75 font-weight-light mb-0">From</p>
                            <select class="form-control is" id="dropDownListFrom" name="formControl">

                                <partial name="_DropDownParshalView" />

                            </select>
                        </div>
                        <div class="col-mid-1">
                            <svg class="text-white-75 font-weight-light mb-5"
                                 data-id="icon-exchange" viewBox="0 0 50 47" height="32px" width="30px">
                                <path fill="currentColor" fill-rule="evenodd"
                                      d="M49.897 35.977L26.597 25v7.874H7.144v6.207h19.455v7.874zM.103 11.642l23.3 10.977v-7.874h19.454V8.538H23.402V.664z"></path>
                            </svg>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-white-75 font-weight-light mb-0">To</p>
                            <select class="form-control is" id="dropDownListTo" name="toControl">

                                <partial name="_DropDownParshalView" />

                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-xl js-scroll-trigger" id="btnConverters">Converter</button>
                </div>
            </div>
        </div>
    </div>
</form>


    <script type="text/javascript">

        function solve() {
            if ( @Model.Booll    === true) {
                let div = document.getElementById("resultBox");
                div.className = "alert alert-success";
            }
        }

         solve()
    </script>


